@model Scan_For_Menu.Models.ChoosePayment
@{
    ViewData["Title"] = "choosePayment";
    Layout = "~/Views/Shared/_LayoutPayment.cshtml";


}
<section>
    <div class="d-flex justify-content-start m-5">
        <a class="btn btn-secondary" asp-controller="Cart" asp-action="ViewCart">Back to cart</a>
    </div>
</section>
<section style="height:100%">
    <br /><br />
    <div class="d-flex justify-content-around" style="font-family:'Times New Roman', Times, serif;">
        <h3 style="color: black;"> Total amount due: </h3>
        <h4> R @ViewBag.totalAmt</h4>
    </div>
    <br />
    <div class="container">

        <div class="row mbr-justify-content-center">

            <a asp-controller="Order" asp-action="payOnline" style="text-decoration:none">
                <div class="col-lg-6 mbr-col-md-10">
                    <div class="wrap">
                        <div class="ico-wrap">
                            <span class="fa fa-credit-card "></span>
                        </div>
                        <div class="text-wrap vcenter">
                            <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5"> Add <span>Credit card</span></h2>
                        </div>
                    </div>
                </div>
            </a>

            <a asp-controller="Order" asp-action="generateTime" style="text-decoration:none; text-decoration-color: inherit">
                <div class="col-lg-6 mbr-col-md-10" role="button">
                    <div class="wrap">
                        <div class="ico-wrap">
                            <span class="fa"></span>
                        </div>
                        <div class="text-wrap vcenter">
                            <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5"> Pay <span> cash</span></h2>
                        </div>
                    </div>
                </div>
            </a>

        </div>

    </div>

</section>
<section></section>