@model Scan_For_Menu.Models.MenuItem
@{ ViewData["Title"] = "generateTime";
   Layout = "~/Views/Shared/_LayoutPayment.cshtml";
}
<!--<h4>  @ViewBag.totalAmt</h4>

<h4 style="color:green;">Estimate Time</h4>-->

<!--<div class="jumbotron"></div> -->
<!--<hr class="my-4">
<div asp-validation-summary="ModelOnly" class="text-danger"></div>

<h4 style="color:green;">The kitchen is busy with your order :)</h4>
<br />
<h6>  You're estimated time is :  </h6>
<h5> @ViewBag.time mins </h5>

<div>
    <img src="~/Images/time.jpg" />" />
</div> 
<hr class="my-4">-->
<div>
    <div style="height:300px; text-align:center">
        <h1 style="font-family: 'Comic Sans MS' cursive; font-style: oblique;  "> The kitchen is working on it &#128512;</h1>
        <br /><br /><br />
    </div>
    <br /><br /><br />
    <div class="container1" >
        <a id="icon" class="burger">
            <span class="hamburger bun top"></span>
            <span class="hamburger chez"></span>
            <span class="hamburger meet"></span>
            <span class="hamburger lettus"></span>
            <span class="hamburger bun bottom"></span>
        </a>
    </div>
    <div style="font-size:x-large">
        <h1 style="font-family: 'Comic Sans MS' cursive; font-style: oblique;  "> You'll be served in  @ViewBag.time minutes  </h1>
        <h1 style="font-family: 'Comic Sans MS' cursive; font-style: oblique;  "> ~ Enjoy !!!!! ~ </h1>

    </div>
</div>
