
@{
    ViewData["Title"] = "Menu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="image_gallary">
    <h3>mabe add a cute slide show here</h3>
</div>
<div class="container">
    <div class="tab">
        <ul class="nav_tabs">
            <li class="active"><a data-toggle="tab" href="#Steaks_And_Grills"> Steaks and Grills </a></li>
            <li class="active"><a data-toggle="tab" href="#Burgers"> Burgers </a></li>
            <li class="active"><a data-toggle="tab" href="#Drinks"> Drinks </a></li>
            <li class="active"><a data-toggle="tab" href="#salads"> Soups and Salads </a></li>
            <li class="active"><a data-toggle="tab" href="#Desserts"> Desserts </a></li>
        </ul>
    </div>

    <div class="tab-content">
        <div id="Steaks_And_Grills" class="tab-pane fade in active">
            <h4> Steaks and Grills </h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>

        <div id="Burgers" class="tab-pane fade">
            <h4>Burgers</h4>
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>

        <div id="Drinks" class="tab-pane fade">
            <h4> Drinks </h4>
            <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
        </div>

        <div id="salads" class="tab-pane fade">
            <h4>Soups and Salads</h4>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
        </div>

        <div id="Desserts" class="tab-pane fade">
            <h4> Desserts </h4>
            <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
        </div>
    </div>
</div>
