@model Scan_For_Menu.Models.MenuItem

@{ ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutStaff.cshtml"; }

<div class="container">
    <h1>Menu Add</h1>

    <h4>Add new food item to the Menu</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form method="post" asp-controller="Admin" asp-action="Create" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Image" class="control-label"></label>
                    <input asp-for="Image" type="file" name="Image" accept="image/jpeg" />
                    <span asp-validation-for="Image" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group">
                    <label asp-for="CategoryName" class="control-label"></label>
                    <br />
                    <select asp-for="CategoryName" id="categoryName">
                        <option placeholder="category options" value=""></option>
                        <option value="Burger">Burger</option>
                        <option value="Steaks and Grills">Steaks and Grills</option>
                        <option value="Drinks">Drinks</option>
                        <option value="Deserts">Deserts</option>
                        <option value="Soup, Salad and Sides">Soup, Salad and Sides</option>
                    </select>
                    <span asp-validation-for="CategoryName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ItemName" class="control-label"></label>
                    <input asp-for="ItemName" class="form-control" />
                    <span asp-validation-for="ItemName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ItemDescr" class="control-label"></label>
                    <textarea asp-for="ItemDescr" id="ItemDescr" class="form-control" placeholder="Add Description here..."> </textarea>
                    <span asp-validation-for="ItemDescr" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="ItemPrice" class="control-label"></label>
                    <input asp-for="ItemPrice" class="form-control" />
                    <span asp-validation-for="ItemPrice" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MealPrepTime" class="control-label"></label>
                    <input asp-for="MealPrepTime" class="form-control" min="0" max="60" />
                    <span asp-validation-for="MealPrepTime" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input  type="submit" formmethod="post" formenctype="multipart/form-data" value="A new item to menu" class="btnConfirm" id="submitBtn" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-controller="Admin" asp-action="ViewItems">Back to List</a>
    </div>
</div>
