@{ ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //soumya }

}
<h2>Dashboard</h2>
<div class="jumbotron"></div>
<hr class="my-4">
<div asp-validation-summary="ModelOnly" class="text-danger"></div>

<div>
    <a asp- area-""asp-controller="" asp-action="">Sign out </a>
</div>
<div>
    <button name="simple_button" type="submit" value="Add new item">Add new item</button>
</div>
<div>
    <button name="simple_button" type="submit" value="Edit menu item">Edit menu item</button>
</div>
<div>
    <button name="simple_button" type="submit" value="View menu layout ">"View menu layout"</button>
</div>
<div>
    <button name="simple_button" type="submit" value="Report">Report</button>
</div>