
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_layOut_Admin.cshtml";


}
<div class="text-center">
    <h2 style="color:green;">     Dashboard</h2>
    <div class="jumbotron jumbotron-fluid ">
        <hr class="my-4">


        <div asp-validation-summary="ModelOnly" class="text-danger"></div>


        <div>
            <button type="submit" class="btn btn-success btn-lg">Add new item</button>
        </div>     <br>
        <br>


        <div>
            <button type="submit" class="btn btn-success btn-lg">Edit menu item</button>
        </div>     <br>
        <br>


        <div>
            <button type="submit" class="btn btn-success btn-lg">View menu layout</button>
        </div>     <br>
        <br>


        <div>
            <button type="submit" class="btn btn-success btn-lg">Report</button>
        </div>    <br>
        <br>


        <hr class="my-4">
    </div>

</div>

