<!DOCTYPE html>
<!--this is the layout for the homepage-->

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title- Amasole</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/homepage.css" />
    <script src="~/js/site.js"></script>

</head>
<body>
    @RenderBody()

</body>
</html>
