<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/payment.css" rel="stylesheet" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Scan_For_Menu</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Allison&display=swap" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css" />
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <script src="~/js/site.js" language="javascript" type="text/javascript"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script scr="~/lib/jquery/dist/js/bootstrap.min.js"></script>
    @*<link href="~/css/site.css" rel="stylesheet" type="text/css" />*@
</head>
<body>
    <header>
        <div>
            <nav class="navbar">
                <div class="navbar_container">
                    <ul>
                        <li>
                            <div class="logo_container">
                                <a class="logo" asp-area="" asp-controller="MenuItem" asp-action="Menu">
                                    <img class="logo_image" src="~/Images/logo.jpeg" />Amasole Steakhouse
                                </a>
                            </div>
                        </li>
                    </ul>

                    <br /> <br /><br />

                    <ul class="nav_cart" style="justify-content:right">
                        <li>                   </li>
                        <li class="nav_cartitem">
                            <a type="s" style="text-decoration:none; color:#555;" class="fas fa-shopping-cart" asp-area="" asp-controller="Cart" asp-action="ViewCart"></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <div>
        <main role="main" class="pb-3" style="justify-content:center; align-items:center; align-content:center; text-align:center">
            @RenderBody()
        </main>
    </div>
</body>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2021 - Scan_For_Menu - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>
</html>
