<!DOCTYPE html>
<!--this is the layout for the homepage-->

<html style="height:100%">
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
    <link rel="stylesheet" type="text/css" href="~/css/login.css" />
    <script src="~/js/adminSite.js" language="javascript" type="text/javascript"></script>

</head>
<body style="height:100%">
    @RenderBody()
</body>
</html>
