body, html {
    background-color: #e0ddce;
    justify-content: center;
    align-content: center;
}

.container {

}

.btnConfirm {
    background-color: grey;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    border-radius: 10px;
    outline: none;
    border: none;
    background-image: linear-gradient(to right, #32be8f, #38d39f, #32be8f);
    font-size: 1rem;
    background-size: 200%;   
    height: 30px;
}

.mx-2 fas fa-edit {
    background-image: linear-gradient(to right, #32be8f, #38d39f, #32be8f);
}

/*.btnConfirm {
    display: block;
    width: 100%;
    height: 20px;
    border-radius: 15px;
    outline: none;
    border: none;
    background-image: linear-gradient(to right, #32be8f, #38d39f, #32be8f);
    background-size: 200%;
    font-size: 1.2rem;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    margin: 1rem 0;
    cursor: pointer;
    transition: .5s;
}


*/