body, html {
    background-image: url('../Images/ella-olsson-oPBjWBCcAEo-unsplash.jpg');
    background-position: inherit;
    position:initial;
    background-size: cover;
    background-position-x:inherit;
    background-repeat: no-repeat;
    width:100%;
    height: 100%;
    justify-content: center;
    align-content: center;
}


.welcome {
    color: #cc7b58;
    position:absolute;
    left: 10%;
    right: 10%;
    margin: 25% 40% 10% 45%;
    justify-content: center;
    align-content: center;
}

.message {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 6rem;
    font-style: italic;
    text-align:center;
}

.btn-link {
    font-family: Impact;
    font-size: 4rem;
    text-align: center;
    text-align:center;
    
}

    .btn-link:hover {
        font-size: 3.5rem;
    }

/*modal csss*/
#dialog {
  
    position: absolute;
    top: 40%;
    left: 10%;
    right: 10%;
    margin: auto 10% 20% 10%;
    border-radius: 10px 10px;
    width: 600px;
    font-size: 1rem;
    justify-content: center;
    align-content: center;
}

.modal-body {
    background-color: #d9c19c;
    font-family: 'Times New Roman', Times, serif;
    height: 150px;
    justify-content: center;
    align-content: center;
    align-items:center;
}

.form-group {
    background-color: #d9c19c;
    font-size: 16px;
    justify-content: center;
    align-content: center;
    align-items:center;
}


.modal-header {
    background-color: #d9c19c;
}

.form-group {
    justify-content: center;
    align-content: center;
    align-items: center;
    font-size:1.6rem;
    text-align:center;
}

.modal-footer {
    justify-content: center;
    align-content: center;
    align-items:center;
    background-color: #d9c19c;
}

#table_numbers {
    width: 200px;
    height: 50px;
    text-align:center;
    font-size:1.5rem;
    background-color: #d9c19c;
}


.button {
    background-color: grey;
    color: antiquewhite;
    text-decoration: none;
    text-align: center;
    padding: 20px 40px 20px 40px;
    font-size: 25px;
    font-family: Impact;
    position: relative;
    width: 200px;
    height: 75px;
    border-radius: 4px 4px;
    visibility: hidden;
}

    .button:hover {
        color: antiquewhite;
    }



