body, html {
    height: 100%;
    overflow: auto;
    min-height: 100%;
    background-color: #808080;
}

/*online payment*/
.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    margin: 0 -16px;
}

.col-25 {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
}

.col-50 {
    -ms-flex: 50%; /* IE10 */
    flex: 50%;
}

.col-75 {
    -ms-flex: 75%; /* IE10 */
    flex: 75%;
}

.col-25,
.col-50,
.col-75 {
    padding: 0 16px;
}

.container {
    background-color: #f2f2f2;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 3px;
}

input[type=text] {
    width: 50%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

label {
    margin-bottom: 10px;
    display: block;
}

.icon-container {
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 24px;
}

.btnPayOnline {
    background-color: #555;
    color: white;
    padding: 12px;
    margin: 10px 0;
    border: none;
    width: 40%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
}

    .btnPayOnline:hover {
        background-color: #45a049;
    }

span.price {
    float: right;
    color: grey;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (and change the direction - make the "cart" column go on top) */
@media (max-width: 800px) {
    .row {
        flex-direction: column-reverse;
    }

    .col-25 {
        margin-bottom: 20px;
    }
}

body, html {
    width: 100%;
    height: 100%;
}

.logo_image {
    opacity: 0.65;
    height: 100px;
    width: 120px;
}

.logo_container {
    /**/
    margin-top: 0px;
    margin-left: 0px;
    position: absolute;
    top: 0%;
    padding: 4px;
    justify-content: center;
    text-align: center;
}

.logo {
    font-size: 60px;
    font-family: 'Allison', cursive;
    color: #f5e8d3;
    text-decoration: none;
}

    .logo:hover {
        text-decoration: none;
        color: #f5e8d3;
    }


.navbar {
    background: #808080;
    height: 200px;
    z-index: 999;
    position: relative;
}

.nav_itemCont {
    position: absolute;
    display: flex;
    justify-content: space-between;
    height: 70px;
    left: 0%;
    right: 10%;
    width: 90%;
    bottom: 0px;
}

.nav_cart {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: CENTER;
    margin-right: 40px;
    font-size: 40px;
    text-decoration: none;
}

section {
    padding-top: 4rem;
    padding-bottom: 5rem;
    background-color: #f1f4fa;
}

.wrap {
    display: flex;
    background: white;
    padding: 1rem 1rem 1rem 1rem;
    border-radius: 0.5rem;
    box-shadow: 7px 7px 30px -5px rgba(0,0,0,0.1);
    margin-bottom: 2rem;
}

    .wrap:hover {
        background: linear-gradient(135deg,#6394ff 0%,#0a193b 100%);
        color: white;
    }

.ico-wrap {
    margin: auto;
}

.fa {
    font-size: 4.5rem;
    color: palegoldenrod;
    margin: 1rem;
    padding-right: 1rem;
}

.vcenter {
    margin: auto;
}

.mbr-section-title3 {
    text-align: left;
}

h2 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.display-5 {
    font-family: 'Source Sans Pro',sans-serif;
    font-size: 1.4rem;
}

.mbr-bold {
    font-weight: 700;
}

p {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    line-height: 25px;
}

.display-6 {
    font-family: 'Source Sans Pro',sans-serif;
    font-size: 1rem;
}

.container1 {
    background: #e1e1e1;
    border: 5px solid #c5d8d6;
    border-radius: 50%;
    height: 100px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 100px;
}

.burger {
    position: relative;
    top: 30px;
}

span.hamburger {
    border-radius: 2px;
    display: block;
    margin: 3px auto;
    width: 40px;
}

span.hamburger.bun {
    background: #af9a71;
    height: 7px;
}

.top:before {
    content: "";
    background: #af9a71;
    bottom: 2px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    display: block;
    height: 4px;
    position: relative;
    width: 40px;
}

span.hamburger.top {
    animation-name: rotate-topbun;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    -webkit-animation-name: rotate-topbun;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
}

span.hamburger.chez {
    background: #e2c70a;
    height: 2px;
    margin: 4px auto 1px auto;
    animation-name: rotate-chez;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    -webkit-animation-name: rotate-chez;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
}

span.hamburger.meet {
    background: #5b2e10;
    margin: 0 auto 0 auto;
    animation-name: rotate-meet;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    -webkit-animation-name: rotate-meet;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
}

span.hamburger.lettus {
    background: #58b734;
    height: 3px;
    margin: 1px auto 4px auto;
    animation-name: rotate-lettus;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    -webkit-animation-name: rotate-lettus;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
}

span.hamburger.bottom {
    animation-name: rotate-bun-bottom;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    -webkit-animation-name: rotate-bun-bottom;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
}


/* Keyframes */

@keyframes rotate-topbun {
    0% {
        transform: translate(0px, -100px) rotate(-90deg);
        width: 40px;
        height: 7px;
    }

    20% {
        transform: translate(0px, -100px) rotate(90deg);
        width: 40px;
        height: 7px;
    }

    22% {
        transform: translate(0, -20px) rotate(-45deg);
        width: 40px;
        height: 7px;
    }

    27% {
        transform: translate(0, 1px);
        width: 42px;
        height: 6px;
    }

    30% {
        transform: translate(0, -1px);
        width: 40px;
        heght: 7px;
    }

    32% {
        transform: translate(0, 0) rotate(0deg);
        width: 40px;
        height: 7px;
    }

    92% {
        transform: translate(0, 0) rotate(0deg);
        width: 40px;
        height: 7px;
    }

    99% {
        transform: translate(0, 20px) rotate(10deg);
        width: 40px;
        height: 7px;
    }

    100% {
        transform: translate(0, 150px) rotate(45deg);
        width: 40px;
        height: 7px;
    }
}

@-webkit-keyframes rotate-topbun {
    0% {
        -webkit-transform: translate(0px, -100px) rotate(-90deg);
        width: 40px;
        height: 7px;
    }

    20% {
        -webkit-transform: translate(0px, -100px) rotate(90deg);
        width: 40px;
        height: 7px;
    }

    22% {
        -webkit-transform: translate(0, -20px) rotate(-45deg);
        width: 40px;
        height: 7px;
    }

    27% {
        -webkit-transform: translate(0, 1px);
        width: 42px;
        height: 6px;
    }

    30% {
        -webkit-transform: translate(0, -1px);
        width: 40px;
        heght: 7px;
    }

    32% {
        -webkit-transform: translate(0, 0) rotate(0deg);
        width: 40px;
        height: 7px;
    }

    92% {
        -webkit-transform: translate(0, 0) rotate(0deg);
        width: 40px;
        height: 7px;
    }

    99% {
        -webkit-transform: translate(0, 20px) rotate(10deg);
        width: 40px;
        height: 7px;
    }

    100% {
        -webkit-transform: translate(0, 150px) rotate(45deg);
        width: 40px;
        height: 7px;
    }
}

@keyframes rotate-chez {
    0% {
        transform: translate(0px, -100px) rotate(90deg);
        width: 40px;
        height: 2px;
    }

    18% {
        transform: translate(0px, -100px) rotate(90deg);
        width: 40px;
        height: 2px;
    }

    20% {
        transform: translate(0, -20px) rotate(45deg);
        width: 40px;
        height: 2px;
    }

    25% {
        transform: translate(0);
        width: 42px;
        height: 1px;
    }

    28% {
        transform: translate(0);
        width: 40px;
        heght: 2px;
    }

    30% {
        transform: translate(0, 0) rotate(0deg);
        width: 40px;
        height: 2px;
    }

    90% {
        transform: translate(0, 0) rotate(0deg);
        width: 40px;
        height: 2px;
    }

    98% {
        transform: translate(0, 20px) rotate(10deg);
        width: 40px;
        height: 2px;
    }

    100% {
        transform: translate(0, 150px) rotate(45deg);
        width: 40px;
        height: 2px;
    }
}

@-webkit-keyframes rotate-chez {
    0% {
        -webkit-transform: translate(0px, -100px) rotate(90deg);
        width: 40px;
        height: 2px;
    }

    18% {
        -webkit-transform: translate(0px, -100px) rotate(90deg);
        width: 40px;
        height: 2px;
    }

    20% {
        -webkit-transform: translate(0, -20px) rotate(45deg);
        width: 40px;
        height: 2px;
    }

    25% {
        -webkit-transform: translate(0);
        width: 42px;
        height: 1px;
    }

    28% {
        -webkit-transform: translate(0);
        width: 40px;
        heght: 2px;
    }

    30% {
        -webkit-transform: translate(0) rotate(0deg);
        width: 40px;
        height: 2px;
    }

    90% {
        -webkit-transform: translate(0) rotate(0deg);
        width: 40px;
        height: 2px;
    }

    98% {
        -webkit-transform: translate(0, 20px) rotate(10deg);
        width: 40px;
        height: 2px;
    }

    100% {
        -webkit-transform: translate(0, 150px) rotate(45deg);
        width: 40px;
        height: 2px;
    }
}

@keyframes rotate-meet {
    0% {
        transform: translate(0px, -100px) rotate(-90deg);
        width: 40px;
        height: 7px;
    }

    15% {
        transform: translate(0px, -100px) rotate(90deg);
        width: 40px;
        height: 7px;
    }

    17% {
        transform: translate(0, -20px) rotate(-45deg);
        width: 40px;
        height: 7px;
    }

    22% {
        transform: translate(0);
        width: 42px;
        height: 6px;
    }

    25% {
        transform: translate(0);
        width: 40px;
        heght: 7px;
    }

    27% {
        transform: translate(0) rotate(0deg);
        width: 40px;
        height: 7px;
    }

    87% {
        transform: translate(0) rotate(0deg);
        width: 40px;
        height: 7px;
    }

    95% {
        transform: translate(0, 20px) rotate(10deg);
        width: 40px;
        height: 7px;
    }

    100% {
        transform: translate(0, 150px) rotate(45deg);
        width: 40px;
        height: 7px;
    }
}

@-webkit-keyframes rotate-meet {
    0% {
        -webkit-transform: translate(0px, -100px) rotate(-90deg);
        width: 40px;
        height: 7px;
    }

    15% {
        -webkit-transform: translate(0px, -100px) rotate(90deg);
        width: 40px;
        height: 7px;
    }

    17% {
        -webkit-transform: translate(0, -20px) rotate(-45deg);
        width: 40px;
        height: 7px;
    }

    22% {
        -webkit-transform: translate(0);
        width: 42px;
        height: 6px;
    }

    25% {
        -webkit-transform: translate(0);
        width: 40px;
        heght: 7px;
    }

    27% {
        -webkit-transform: translate(0) rotate(0deg);
        width: 40px;
        height: 7px;
    }

    87% {
        -webkit-transform: translate(0) rotate(0deg);
        width: 40px;
        height: 7px;
    }

    95% {
        -webkit-transform: translate(0, 20px) rotate(10deg);
        width: 40px;
        height: 7px;
    }

    100% {
        -webkit-transform: translate(0, 150px) rotate(45deg);
        width: 40px;
        height: 7px;
    }
}

@keyframes rotate-lettus {
    0% {
        transform: translate(0px, -100px) rotate(90deg);
        width: 40px;
        height: 3px;
    }

    10% {
        transform: translate(0px, -100px) rotate(90deg);
        width: 40px;
        height: 3px;
    }

    12% {
        transform: translate(0, -20px) rotate(45deg);
        width: 40px;
        height: 3px;
    }

    17% {
        transform: translate(0);
        width: 42px;
        height: 1px;
    }

    20% {
        transform: translate(0);
        width: 40px;
        height: 3px;
    }

    22% {
        transform: translate(0) rotate(0deg);
        rotate(0deg);
        width: 40px;
        height: 3px;
    }

    85% {
        transform: translate(0) rotate(0deg);
        width: 40px;
        height: 3px;
    }

    92% {
        transform: translate(0, 20px) rotate(10deg);
        width: 40px;
        height: 3px;
    }

    100% {
        transform: translate(0, 150px) rotate(45deg);
        width: 40px;
        height: 3px;
    }
}

@-webkit-keyframes rotate-lettus {
    0% {
        -webkit-transform: translate(0px, -100px) rotate(90deg);
        width: 40px;
        height: 3px;
    }

    10% {
        -webkit-ransform: translate(0px, -100px) rotate(90deg);
        width: 40px;
        height: 3px;
    }

    17% {
        -webkit-transform: translate(0);
        width: 42px;
        height: 1px;
    }

    20% {
        -webkit-transform: translate(0);
        width: 40px;
        height: 3px;
    }

    22% {
        -webkit-transform: translate(0) rotate(0deg);
        rotate(0deg);
        width: 40px;
        height: 3px;
    }

    85% {
        -webkit-transform: translate(0) rotate(0deg);
        width: 40px;
        height: 3px;
    }

    92% {
        -webkit-transform: translate(0, 20px) rotate(10deg);
        width: 40px;
        height: 3px;
    }

    100% {
        -webkit-transform: translate(0, 150px) rotate(45deg);
        width: 40px;
        height: 3px;
    }
}

@keyframes rotate-bun-bottom {
    0% {
        transform: translate(0px, -100px) rotate(90deg);
        width: 40px;
        height: 7px;
    }

    5% {
        transform: translate(0, -40px) rotate(45deg);
        width: 40px;
        height: 7px;
    }

    7% {
        transform: translate(0) rotate(0deg);
        width: 44px;
        height: 5px;
    }

    12% {
        transform: translate(0) rotate(0deg);
        width: 40px;
        height: 7px;
    }

    15% {
        transform: translate(0) rotate(0deg);
        width: 40px;
        height: 7px;
    }

    18% {
        transform: translate(0) rotate(0deg);
        width: 40px;
        height: 7px;
    }

    80% {
        transform: translate(0) rotate(0deg);
        width: 40px;
        height: 7px;
    }

    87% {
        transform: translate(0, 10px) rotate(10deg);
        width: 40px;
        height: 7px;
    }

    100% {
        transform: translate(0, 150px) rotate(45deg);
        width: 40px;
        height: 7px;
    }
}

@-webkit-keyframes rotate-bun-bottom {
    0% {
        -webkit-transform: translate(0px, -100px) rotate(90deg);
        width: 40px;
        height: 7px;
    }

    5% {
        -webkit-transform: translate(0, -40px) rotate(45deg);
        width: 40px;
        height: 7px;
    }

    7% {
        -webkit-transform: translate(0) rotate(0deg);
        width: 44px;
        height: 5px;
    }

    12% {
        -webkit-transform: translate(0) rotate(0deg);
        width: 40px;
        height: 7px;
    }

    15% {
        -webkit-transform: translate(0) rotate(0deg);
        width: 40px;
        height: 7px;
    }

    18% {
        -webkit-transform: translate(0) rotate(0deg);
        width: 40px;
        height: 7px;
    }

    80% {
        -webkit-transform: translate(0) rotate(0deg);
        width: 40px;
        height: 7px;
    }

    87% {
        -webkit-transform: translate(0, 10px) rotate(10deg);
        width: 40px;
        height: 7px;
    }

    100% {
        -webkit-transform: translate(0, 150px) rotate(45deg);
        width: 40px;
        height: 7px;
    }
}