@{
    ViewData["Title"] = "Home Page";
    Layout = "_IndexLayout";
}

<div class="container">

    <div class="welcome">
        <span class="message">EAT DRINK VISIT</span>
        <br /><br /><br /><br />
        <a id="btnClick" class="btn btn-link"> Menu</a>
    </div>
   
    <!--for the modal display to choose table number-->
    <div class="modal fade" id="tableNo" role="dialog">
        <div class="modal-dialog" id="dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Table Number</h4>
                    <button class="close" id="close" type="button" data-dismiss="modal">x</button>

                </div>
                <div class="body">
                   <form class="form">
                    <label for="table_numbers" class="head-message" style="font-size:35px">Select your table : </label>
                    <br />
                    <select id="table_numbers" name="table_numbers">
                        <option value=0>please select</option>
                        <option value=1> 1 </option>
                        <option value=2> 2 </option>
                        <option value=3> 3 </option>
                        <option value=4> 4 </option>
                        <option value=5> 5 </option>
                        <option value=6> 6 </option>
                        <option value=7> 7 </option>
                    </select>
                   </form>
                    <label id="errorMsg"></label>
                </div>
                <div class="modal-footer">

                    <a id="btnOk" class="button"  asp-area="" asp-controller="MenuItem" asp-action="Menu">Ok</a>
                    
                </div>
            </div>
        </div>
    </div>
</div>


