@model Scan_For_Menu.Models.CustomerOrder
@{
    ViewData["Title"] = "Home Page";
    Layout = "_IndexLayout";
}




    <div class="welcome">
        <span class="message">EAT DRINK VISIT</span>
        <br /><br /><br /><br />
        <a id="btnClick" class="btn-link" data-toggle="modal" data-target="#tableNo"> Menu</a>
    </div>


    <!--for the modal display to choose table number-->
    <div class="modal fade" id="tableNo" role="dialog">
        <div class="modal-dialog" id="dialog">
            <div class="modal-content">
                <form class="form" method="post" asp-controller="MenuItem" asp-action="Menu">
                    <div class="modal-body">
                        <br /><br /><br />
                            <label asp-for="TableNr" class="head-message"></label>
                            <br />
                            <select asp-for="TableNr" id="table_numbers" onchange="getTblNo('btnOk','table_numbers')">
                                <option value=""></option>
                                <option value=1> 1 </option>
                                <option value=2> 2 </option>
                                <option value=3> 3 </option>
                                <option value=4> 4 </option>
                                <option value=5> 5 </option>
                                <option value=6> 6 </option>
                                <option value=7> 7 </option>
                            </select>
                            <span asp-validation-for="TableNr" class="text-danger"></span>
                        <br /><br />
                        <input id="btnOk" type="submit" value="OK" class="button" />
                    </div>
                </form>
            </div>
        </div>
    </div>




